<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px">
        <div class="modal-content">
            <div class="form">
                <h2 class="pink" style="display: block;text-align: center;margin-top: -5px;">Получить медиа план</h2>
                <input type="Name" placeholder="Имя">
                <input type="Email" placeholder="Email">
                <input type="phone" placeholder="Телефон">
                <br />
                <br />
                <div style="text-align: right">
                    <span class="btn2" style="font-size: 16px">
                        Получить медиа план
                    </span>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="modal fade set-contacts" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px">
        <div class="modal-content">
            <div class="form">
                <h2 class="pink" style="display: block;text-align: center;margin-top: -5px;">Связаться с нами</h2>
                <input type="Name" placeholder="Имя">
                <input type="Email" placeholder="Email">
                <input type="phone" placeholder="Телефон">
                <br />
                <br />
                <div style="text-align: right">
                    <span class="btn2" style="font-size: 16px">
                        Отправить контакты
                    </span>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>


{#<div class="modal fade set-contacts" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">#}
    {#<div class="modal-dialog modal-sm" style="width: 400px">#}
        {#<div class="modal-content">#}
            {#<div class="form">#}
                {#sdfsdfsdf#}
                {#<br />#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

