<div class="modal fade bs-auth" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px">
        <div class="modal-content">
            <form id="get-media-plan-form" method="POST" action="{{ path('send_mediaplan') }}">
                <div class="form">
                    <h2 class="pink" style="display: block;text-align: center;margin-top: -5px;">Авторизация</h2>
                    <div class="error get-media-plan-error"></div>
                    <form method="POST" action="{{ path('login_check') }}">
                        <table>
                            <tr>
                                <td>E-mail:</td>
                                <td><input type="text" name="_username"></td>
                            </tr>
                            <tr>
                                <td>Пароль:</td>
                                <td><input type="password" name="_password"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: right">
                                    {#<button type="button" class=""></button>#}
                                    {#<span class="popupCancel btn2"  id="contact">Отправить контакты</span>#}
                                    {#&nbsp;&nbsp;&nbsp;&nbsp;#}
                                    <button class="btn2" type="submit" style="font-size: 16px">Войти</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>