<div class="well">
    <h2 class="modal-title">Навигация</h2>

    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('order_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Заявки
            </a>
        </li>
        <li class="">
            <a href="{{ path('banner_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Баннеры
            </a>
        </li>
        <li class="">
            <a href="{{ path('user_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Пользователи
            </a>
        </li>
        <li class="">
            <a href="{{ path('page_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Страницы сайта
            </a>
        </li>
    </ul>
</div>