{% extends "AdminBundle::mini_layout.html.twig" %}

{% block content %}
    <table class="months" style="width: 640px">
        <tr>
            <th class="tdmonth">Янв</th>
            <th class="tdmonth">Фев</th>
            <th class="tdmonth">Мар</th>
            <th class="tdmonth">Апр</th>
            <th class="tdmonth">Май</th>
            <th class="tdmonth">Июн</th>
            <th class="tdmonth">Июл</th>
            <th class="tdmonth">Авг</th>
            <th class="tdmonth">Сен</th>
            <th class="tdmonth">Окт</th>
            <th class="tdmonth">Ноя</th>
            <th class="tdmonth">Дек</th>
        </tr>
        <tr>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
            <td class="month active">&nbsp;</td>
        </tr>
    </table>
{% endblock %}