
<h2>Запрос на связаться Navigator MediaFirst ru</h2>

<table>
    <tr>
        <td>Имя</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>{{ phone }}</td>
    </tr>
</table>

