Здравствуйте, {{ name }}.
<br />
<br />
Вы собрали медиаплан на сайте <a href="navigator.mediafirst.ru">navigator.mediafirst.ru</a>.<br />
В файле Ваш медиаплан.
<br />
<br />
С уважением <a href="navigator.mediafirst.ru" target="_blank">navigator.mediafirst.ru</a>