{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Массовое добавление баннерных мест</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <form method="post">
            <div class="form-group row">
                <label class="col-sm-2" for="appbundle_banner_url" >
                    Файл (JSON или XML)
                </label>
                <div class="col-sm-3">
                    <input type="file" id="appbundle_banner_file" name="appbundle_banner[file]" required="required" class="form-control">
                </div>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option value="1">Гема</option>
                        <option value="2">Вера Олимп</option>
                        <option value="3">Расверо</option>
                        <option value="4">Геллари</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Горящий %">
                </div>
                <div  class="col-sm-2">
                    <button type="submit" id="appbundle_banner_submit" name="appbundle_banner[submit]" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}