{% extends 'AppBundle::layout_2.html.twig' %}

{% block content %}
    <div class="box-circle" style="float: left;">Поиск на карте</div>
    <div class="box-circle" style="float: right;">Поиск на карте</div>
{% endblock %}